{%extends"base.html"%}

{%block content%}
<div class="container">
  <h1 class="text-primary">About</h1>

<br>
<br>

<h3 class="text-success">Profile</h3>


<p>Self-motivated university student with a record of academic and extracurricular success studying Bcom Financial Accounting and critical experience in technology.</p>
<p>And when I am not working with numbers, I would be coding out a program or doing some graphics designing works.</p>
<br>


 <strong class="text-success">Coding</strong>
 <p>In my spare time l have decided to take in upon myself to learn how to code online and l am able to using Python and SQL (database query language).
 I decided to keep myself relevant in a world that keeps advancing in technology. In doing so l sort to differentiate myself.
 Common task l can do include:</p>

<ul>
  <li>Data visualisation (using matplotlib, pandas, seaborn)</li>
  <li>Machine learning and data sciences</li>
  <li>Automation</li>
  <li>web scraping</li>
  <li>GUI development</li>
</ul>
<p>I also learnt SQL and can query from a database.</p>
<br>

<strong class="text-success">Designing</strong>
<p>Besides coding l also love graphics designing works and motion graphics. For this l use the following software:</p>
<ul>
  <li>Adobe Photoshop</li>
  <li>Illustrator</li>
  <li>After effects</li>
  <li>And PowerPoint</li>
</ul>
<br>

</div>
{%endblock%}
