{%extends"base.html" %}
{%block content%}
<br>
<div class="white">


<!-- <img src="static/white.jpg" style="width:50%;"  alt=""> -->

<div class="container">
  <h1 class="display-4 text-success">Contact</h1>
  <br>
  <h3>Hey, you can always contact me on these channels</h3>
  <br>

        <div class="row">
                <div class="col-sm-6 ">
                    <a href="https://www.facebook.com/takudzwa.makusha.3"> <img src="static/fb.png" alt="">  </a>
                    </div>
                <div class="col-sm-6 ">
                    <a href="https://www.instagram.com/takuonline3/"> <img src="static/insta.png" alt="">  </a>
                    </div>
        </div>


        <div class="row">
                <div class="col-sm-6 ">
                    <a href="whatsapp://send?text=Hello, l just visited your site!&phone=+27676522180"> <img src="static/app.png" alt="">  </a>
                    </div>
                <div class="col-sm-6 ">
                    <a href="https://twitter.com/takuonline"> <img src="static/twittter.png" alt="">  </a>
                    </div>
          </div>

</div>


<div class="card">
  <div class="card-body border  shadow">

    <!-- <h5 class="card-title text-center">Card title</h5> -->
    <a  href="http://www.freepik.com">Social media artwork designed by Harryarts / Freepik</a>
    <p>Email me at: tbmakusha@gmail.com</p>
  </div>
</div>


</div>


{%endblock%}
