{%extends "base.html"%}
{%block content%}

<div class="container">
  <h1 text-success>Fake news detection app.</h1>
<p> This machine learning application is able to identify to a high degree of accuracy whether a news article is fake 
or authentic.It was trained and tested on a dataset of over 6300 news articles. </p>
 <br><br>
  <form  method="post">

          {{form.hidden_tag()}}
          {{form.text.label}}
          <br>
          {{form.text(class="form-group w-75 h-25", rows="7" )}}


          <br>
          {{form.submit(class_="btn btn-primary")}}

  </form> 
 <p>Please be advised l do not guarantee the accuracy of this application and will not take any responsibility for a misclassification.
This app was trained on actual news articles and was able to reach an accuracy of >80% </p>


 </div>

{% endblock %}
